BUILD_OS="darwin,linux"
BUILD_ARCH="amd64,arm64,arm"
GOLANG_PACKAGE="tugboat"
GOLANG_VERSION_PKG="internal/version"
GOLANG_BINARY_NAME="tugboat"
GOLANG_LDFLAGS="-w -s -extldflags '-static' -X '${GOLANG_PACKAGE}/${GOLANG_VERSION_PKG}.version=${VERSION}' -X '${GOLANG_PACKAGE}/${GOLANG_VERSION_PKG}.gitCommit=${GIT_COMMIT}'"
RELEASE_EXTRA_FILES="LICENSE,README.md"
